/* @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit&family=PT+Mono&display=swap");

body {
  margin: 0;
  font-family: "PT Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(15, 15, 15), rgb(0, 0, 0));

}
